@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~react-custom-scroll/dist/customScroll";

.title_container {
  background-color: #F0F0F0;
  padding-top: 77px;
  padding-bottom: 74px;

  h2 {
    font-size: 2.1875rem;
    font-weight: 600;
  }

  p {
    margin-top: 50px;
    font-size: 1.25rem;
    color: #646464;
  }
}

.image {
  padding: 0 !important;
}

.midleTextContainer {
  margin: 93px 0 82px 0;

  p {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.mision_vision {
  margin-bottom: 80px;

  >div {
    .item {
      height: 100%;
      padding: 32px 58px 40px;
      border-radius: 4px;
      background-color: $primary;
      color: #fff;

      img {
        vertical-align: text-top;
        margin-right: 15px;
      }

      span {
        font-size: 1.75rem;
        font-weight: 600;

        +span {
          display: block;
          font-size: 1.25rem;
          font-weight: 400;
          margin-top: 1rem;
        }
      }
    }
  }
}

.timeline_container {
  margin-bottom: 76px;
  .elevetor_container {
    position: relative;
    max-height: 340px;
    color: #fff;
    .year {
      margin: 0 auto 5.5px auto;
      text-align: center;
      width: 80px;
      height: 30px;
      font-size: 1.25rem;
      border-radius: 4px;
      background-color: $primary;
    }
    img {
      margin: auto;
      display: block;
    }
    .middle_line {
      padding-top: 23px;
      padding-bottom: 1.25rem;
      &.left {
        width: calc(50% + 1px);
        border-right: 1px dashed $primary;
        border-left: none;
        margin-right: auto;
        text-align: right;
        .title, .content, .month {
          padding-right: 50px;
        }
      }
      &.right {
        width: 50%;
        border-right: none;
        border-left: 1px dashed $primary;
        margin-left: auto;
        text-align: left;
        .title, .content, .month {
          padding-left: 50px;
        }
      }
      .title {
        font-size: 1.25rem;
        font-weight: 600;
        color: #323232;
        margin-bottom: 1.5rem;
      }
      .content {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        font-weight: 300;
        color: #646464;
      }
      .month {
        color: $primary;
        font-size: 0.75rem;
        line-height: 1.875rem;
        margin: 0.9375rem 0 0;
      }
    }
  }
}
.rcs-custom-scroll {
  flex: 1 1 100%;
  .rcs-inner-handle {
    background-color: transparent;
    color: transparent;
  }
}