.title_container {
  background-color: #F0F0F0;
  padding-top: 77px;
  padding-bottom: 74px;

  h2 {
    font-size: 2.1875rem;
    font-weight: 600;
  }

  p {
    margin-top: 50px;
    font-size: 1.25rem;
    font-weight: 300;
    color: #646464;
  }
}

.image {
  padding: 0 !important;
}

.midleTextContainer {
  margin: 93px 0 82px 0;

  p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #646464;
  }
}

.products_container {
    margin-bottom: 120px;
  .item {
    text-align: right;
    margin-bottom: 20px;
    box-shadow: 10px 6px 10px -5px #dcdcdc;
    border-radius: 3px;

    >img {
      max-width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    >h2 {
      font-size: 1.5625rem;
      font-weight: 600;
      margin-right: 2.1875rem;
      margin-top: 2.1875rem;
    }

    >div {
      min-height: 5.625rem;
      margin: 2.1875rem;
      line-height: 1.875rem;
    }

    >a {
      margin-right: 2.1875rem;
      margin-bottom: 2.1875rem;

      >img {
        vertical-align: text-bottom;
        margin-left: 10px;
      }
    }
  }
}