@import "custom";
@import "~bootstrap/scss/bootstrap";

nav.navbar {
  height: 100px;
  padding: 0;
  .navbar-brand {
    padding: 0;
  }
  .nav-item {
    a {
      font-size: 17px;
      text-decoration: none;
      color: #646464;
      display: inline-block;
      padding: 0.5rem 1rem;
      white-space: nowrap;
      font-weight: 500;
    }
  }
}

.btn.btn-primary {
  img {
    vertical-align: baseline;
    margin-right: 6.5px;
  }
}

#solvaeMainSlider {
  margin-top: 100px;
  height: calc(100vh - 100px);
  min-height: 568px;
}
.carousel-inner {
  height: 100%;
}
.home_slider_container {
  position: absolute;
  bottom: 25%;
  p {
    font-size: 40px;
    color: #fff;
  }
}
.middleTextContainer {
  margin: 120px 0;
  font-size: 35px;
  color: #323232;
  div + div {
    margin-top: 30px;
    > p {
      font-size: 20px;
      color: #646464;
    }
  }
}
.simpleProductContainer {
  > div {
    margin-bottom: 50px;
    .parallax {
      height: 140px;
      // background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
    }
    .prod1{
      background-image: url(../assets/images/PROD_1.png);
    }
    .prod2{
      background-image: url(../assets/images/PROD_2.png);
    }
    .prod3{
      background-image: url(../assets/images/PROD_3.png);
    }
    .prod4{
      background-image: url(../assets/images/PROD_4.png);
    }
    .prod5{
      background-image: url(../assets/images/PROD_5.png);
    }
    .prod6{
      background-image: url(../assets/images/PROD_6.png);
    }
    .prod7{
      background-image: url(../assets/images/PROD_7.png);
    }
    .simple_product_base {
      position: relative;
      margin-top: 31px;
      font-size: 20px;
      color: #646464;
      img {
        margin-right: 24px;
        vertical-align: text-bottom;
      }
      .second_text {
        position: absolute;
        width: 100%;
        display: block;
        left: 50px;
      }
    }
  }
}
#solvaeProviderSlider {
  height: 420px;
  .carousel-indicators {
    right: calc(-15% + 340px);
    left: auto;
  }
}
.testimonialsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto 445px;
  div {
    margin-top: 120px;
    background-color: gray;
    height: 530px;
    min-width: 400px;
    &:first-child {
      width: 708px;
      margin-right: auto;
      font-size: 35px;
      background-color: transparent;
      height: auto;
      justify-self: flex-start;
    }
  }
}
